[submodule "required-libs/SoapySDR"]
	path = required-libs/SoapySDR
	url = https://github.com/pothosware/SoapySDR.git
[submodule "required-libs/SoapyHackRF"]
	path = required-libs/SoapyHackRF
	url = https://github.com/pothosware/SoapyHackRF.git
